:root {
    --lace: #FAF4E6;
    --midnight: #1E2D4C;
    --ochre: #8C6917;
    --cobalt: #163B8C;
    --headingFont: "NTR", sans-serif;
    --subheadingFont: "Do Hyeon", sans-serif;
    --regularFont: "DM Mono", monospace;
}


body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: var(--lace);
}


