:root {
    --lace: #FAF4E6;
    --midnight: #1E2D4C;
    --ochre: #8C6917;
    --cobalt: #163B8C;
    --headingFont: "Palanquin Dark", sans-serif;
    --subheadingFont: "Do Hyeon", sans-serif;
    --regularFont: "DM Mono", monospace;
}

html {
    margin: 0;
    padding: 0;
    color: var(--midnight);
    font-size: 18px;
}

body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: var(--lace);
}

main {
    height: 100%;
}

.authScreen {
    height: 100%;
    background-color: var(--lace);
    display: flex;
    align-items: center;
}

    .authScreen .wrapper {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
        margin-left: 5%;
    }

    .authScreen h2 {
        padding: 0;
        margin: 0;
        font-family: var(--headingFont);
        font-size: 44px;
    }

.authScreenImg {
    background-image: url(/img/authBgImg.jpg);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 100%;
    align-self: flex-start;
}


.authScreenForms {
    height: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    align-items: center;
}

    .authScreenForms input, .authScreenForms select, .authScreenForms option {
        background-color: transparent;
        font-family: var(--subheadingFont);
    }

.campingForm, .loginForm {
    font-family: var(--subheadingFont);
}

.campingForm {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

    .campingForm .form-group {
        height: 100%;
        width: 100%;
    }

        .campingForm .form-group select {
            height: 100%;
            width: 100%;
            color: var(--lace);
            font-size: large;
            border-radius: 15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            text-align: center;
            background-color: var(--midnight);
            cursor: pointer;
        }

            .campingForm .form-group select:hover, .campingForm .form-group select:active {
                background-color: var(--cobalt);
            }

.loginForm {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

    .loginForm .form-group {
        height: 30%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .loginForm .form-group input {
            width: 100%;
            height: 70%;
            color: var(--midnight);
            font-size: large;
            border-radius: 10px;
            text-align: center;
            background-color: var(--lace);
            cursor: pointer;
            overflow-x: hidden;
        }

.loginHeading {
    height: 20%;
}

.logoMarkDark {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

    .logoMarkDark img {
        width: 64px;
    }

.loginSection {
    height: 100%;
    width: 80%;
}

.loginForm .btn {
    background-color: var(--ochre);
    border: none;
    color: var(--lace);
    text-decoration: none;
    border-radius: 15px;
    height: 20%;
    width: 40%;
    cursor: pointer;
    font-family: var(--subheadingFont);
    font-size: medium;
}

.registerBtn {
    font-family: var(--subheadingFont);
    color: var(--cobalt);
    text-decoration: none;
}

    .registerBtn:hover {
        text-decoration: underline;
    }

.text-danger {
    color: darkred;
}
