@page
@using global::Account.LoginPage.Pages
@model LoginModel
@{
	ViewData["Title"] = "Inloggen";
}


<main class="authScreen">
	<section class="authScreenImg">
	</section>
	<div class="wrapper">
		<div class="loginHeading">
			<figure class="logoMarkDark">
				<img src="img/beeldmerkDonkerImg.png" />
			</figure>


			<h2>Log in</h2>
		</div>
		<section class="authScreenForms">
			@if (!string.IsNullOrEmpty(Model.ErrorMessage))
			{
				<div class="alert alert-danger">@Model.ErrorMessage</div>
			}



			<!-- Camping selectie -->
			<form method="post" class="campingForm">
				<div class="form-group">
					<select asp-for="SelectedCampingId" class="form-control" id="campingSelect">
						<option value="" id="campingPlaceholder">Choose a camping </option>
						@foreach (var c in Model.Campings)
						{
							<option value="@c.Id">@c.Name</option>
						}
					</select>
				</div>

			</form>

			<!-- Login formulier -->
			<form method="post" asp-page-handler="Login" class="loginForm">
				<div class="form-group">
					<span asp-validation-for="Input.Email" class="text-danger"></span>
					<input asp-for="Input.Email" class="form-control" placeholder="E-mail*" />

				</div>

				<div class="form-group">
					<span asp-validation-for="Input.Password" class="text-danger"></span>
					<input asp-for="Input.Password" class="form-control" placeholder="Password*" />
				</div>


				<button type="submit" class="btn">Inloggen</button>

			</form>
			<a asp-page="/Account/Regristratie" class="registerBtn btn">Heeft u nog geen account? Registreer hier.</a>

		</section>
	</div>
</main>